.tableWrapper{
    margin-top: 20px;
    width: 100%;
    margin-bottom: 30px;

    .tableContainer{
        width: 100%;
        background: rgba(255, 255, 255, 0.04);
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.04);
        box-sizing: border-box;
        padding: 15px;
        min-height: 300px;
        p{
            text-align: center;
        }
    }

    .tableControlers{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
        font-size: 14px;
        font-weight: 400;


        div{
            display: flex;
            align-items: center;
            gap: 5px;

        }
        .pageCounter{
            padding: 4px 6px;
            background: rgba(255, 255, 255, 0.04);
            border-radius: 4px;
            opacity: 0.5;
        }
        button{
            width: 30px;
            height: 30px;
            border-radius: 4px;
            background: rgba(255, 255, 255, 0.04);
            box-shadow: none;
            outline: none;
            border: none;
            font-size: 13px;
            font-weight: 400;
        }
    }
}